# Auto detect text files and perform LF normalization
* text=auto

# Jupyter notebooks
*.ipynb text eol=lf

# Python files
*.py text eol=lf

# Markdown files
*.md text eol=lf

# Config files
*.json text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Lock files
*.lock text eol=lf